@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>React.js</h1>
    <p class="lead">Is a free javascript library for building user interfaces for building great Web sites and Web applications using HTML, CSS and JavaScript.</p> Big names using React.js: Facebook, Netflix, Airbnb, Yahoo!
    <p><a href="https://facebook.github.io/react/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>


        
<label>Scripts references:</label>
<pre>
<code>
&lt;script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.1/react.min.js" type="text/javascript"&gt;
&lt;script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.1/react-dom.min.js" type="text/javascript"&gt;
&lt;script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.38/browser.min.js" type="text/javascript"&gt;
</code>
</pre>


<br />


<div class="row"><div class="col-md-7"><b>Hello world</b></div><div class="col-md-5"><b>Result</b></div></div>

<div class="row">

<div class="col-md-7">

    <pre>
    <code>
    &lt;html&gt;
        &lt;div id="container-hw"&gt;&lt;/div&gt;
    &lt;/html&gt;
    &lt;script type="text/babel"&gt;
        ReactDOM.render(
            &lt;h1&gt;Hello World 2017&lt;/h1&gt;, 
            document.getElementById('container-hw')
        );
    &lt;/script&gt;
 
    </code>
    </pre>

    </div>

    <div class="col-md-5">
        
        <div id="container-hw"></div>
        <script type="text/babel">
            ReactDOM.render(
            <h2>Hello World 2017</h2>,
            document.getElementById('container-hw')
            );
        </script>
    </div>
</div>


<div class="row"><div class="col-md-7"><b>Clock</b></div><div class="col-md-5"><b>Result</b></div></div>

<div class="row">

    <div class="col-md-7">

        <pre>
        <code>
    &lt;html&gt;
        &lt;div id="container-ck"&gt;&lt;/div&gt;
    &lt;/html&gt;
    &lt;script type="text/babel"&gt;

     function tick() {
        const element = (
            &lt;div&gt;
            &lt;h1&gt;Hi there!</h1>
            &lt;h2&gt;It is {new Date().toLocaleTimeString()}.&lt;/h2&gt;
          &lt;/div&gt;
      );
      
      ReactDOM.render(
          element,
          document.getElementById('container-tick')
      );
    }

    setInterval(tick, 1000);
        
    &lt;/script&gt;
 
    </code>
    </pre>

    </div>

    <div class="col-md-5">

        <div id="container-ck"></div>
        <script type="text/babel">
      
            function tick() {
            const element = (
            <div>
                <h1>Hi there!</h1>
                <h2>It is {new Date().toLocaleTimeString()}.</h2>
            </div>
            );
            ReactDOM.render(
            element,
            document.getElementById('container-ck')
            );
            }

            setInterval(tick, 1000);


        </script>
    </div>
</div>


<div class="row"><div class="col-md-7"><b>List products - ajax calling web api</b></div><div class="col-md-5"><b>Result</b></div></div>

<div class="row">
    <div class="col-md-7"><pre><code>See \Scripts\reactjs\ProductApp.js</code></pre></div>
    <div class="col-md-5"><div id="container-product" /></div>
</div>

<div class="row"><div class="col-md-7"><b>List orders - ajax calling web api</b></div><div class="col-md-5"><b>Result</b></div></div>

<div class="row">
    <div class="col-md-7"><pre><code>See \Scripts\reactjs\OrderApp.js</code></pre></div>
    <div class="col-md-5"><div id="container-order" /></div>
</div>



